* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--Yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.card {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--White);
  border-radius: 20px;
  border: 1px solid var(--Black, #111);
  box-shadow: 8px 8px 0px 0px #000;
  padding: 24px;
  
}

.img-head {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
}
.desription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.head {
  display: inline-block;
  background-color: var(--Yellow);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  border-radius: 4px;
  text-align: center;
  padding: 4px 12px;
}
.date {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.head-mid {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.head-mid:hover {
  cursor: pointer;
  color: var(--Yellow);
}

.detail {
  color: var(--Grey);
  font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}

.last {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
}
.name {
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%
}
footer {
  position: absolute;
  bottom: .5rem;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}

@media  (max-width: 375px) {
   .card {
    width: 327px;
   }
   .head {
    font-size: 12px;
   }
   .date{
    font-size: 12px;
   }
   .head-mid {
    font-size: 20px;
   }
   .detail {
    font-size: 14px;
   
   }
}
